<div *ngIf="selected">
  <app-album-detail [albumDetail]="selectedAlbum"></app-album-detail>
 </div>

 <hr />

 <h1>Albumes Recomendados</h1>

 <hr/>

 <div class="grid-container">
  <div *ngFor="let a of albums" class="grid-container-div">
    <div class="card container" style="width: 18rem;">
      <img class="card-img-top image" src="{{a.imagen}}" alt="Card image cap">
      <div class="card-body lyr2">
        <h5 class="card-title lyr2">{{ a.titulo | slice: 0:20 }}{{a.titulo.length > 20 ? '...' : ''}}</h5>
        <p class="card-text lyr2">{{this.generateArtistsText(a)}}</p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</div>
<hr/>
<h2>Por Generos</h2>
<!-- TODO -->






