.grid-container{
  display:grid ;
  background-color: rgb(241, 240, 238) ;
  grid-template-columns: auto auto auto auto  auto  auto auto  auto;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  width: 300px;
  height: 200px;
  
}
.image {
  width:200px;
  height:200px;
  border-radius:150px;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  border-radius: 150%;
  transition: .5s ease;
  background-color: #3d3c3aaf;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




